.todo-container {
width: 100%;
  }
  
  .todo-container h1 {
    text-align: center;
  }
  
  .todo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .todo-input:focus {
    outline: none;
  }
  
  .todo-button {
    padding: 10px 20px;
    background-color: #2b92be;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .todo-button:hover {
    background-color: #0056b3;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .todo-item:last-child {
    border-bottom: none;
  }
  
  .todo-item button {
    padding: 5px 10px;
    background-color: #ef7070;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .todo-item button:hover {
    background-color: #d62c2c;
  }
  